*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  place-items: end;
  gap: 30px;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 620px;
  align-self: stretch;
}

.content__details__cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.content__list-container {
  max-height: 534px;
  overflow-y: auto;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.content__list-container {
  max-height: 534px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-width: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  padding-bottom: 8px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  text-transform: uppercase;
  padding-bottom: 21px;
  padding-top: 85px;
  line-height: 94%
}

.content__accent {
  font-weight: inherit;
  opacity: 0.2;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  max-width: 100%;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-form__checkbox {
 appearance: none;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:hover {
  outline: none;
  cursor: text;
}
 
.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff ;
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:not(:active):focus-visible {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
 display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__fieldset:hover .search-form__label-text,
.search-form__textfield:hover {
  text-decoration: none;
}   

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  border: 1px solid #fff;
  color: #fff; 
  background-color: transparent; 
  font-family: Fira Sans Condensed; 
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  text-align: center;
  width: 194px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  color: #fff;
  text-decoration: none;
}

.button:focus {
  outline: none;          
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding-top: 9px 12px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  padding: 7px 24px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.more-button:focus-visible {
  outline: none;
}

.content__card-link_current {
  background-color: transparent;
}

.content__card-link {
  display: block;
}

.content__card-link:active {
 background-color: #545050;
 text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.content__list-item {
  padding: 3px;
}  