*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:not(:active):focus-visible {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
 display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__fieldset:hover .search-form__label-text,
.search-form__textfield:hover {
  text-decoration: none;
}   

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  border: 1px solid #fff;
  color: #fff; 
  background-color: transparent; 
  font-family: Fira Sans Condensed; 
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  text-align: center;
  width: 194px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  color: #fff;
  text-decoration: none;
}

.button:focus {
  outline: none;          
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding-top: 9px 12px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  padding: 7px 24px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.more-button:focus-visible {
  outline: none;
}

.content__card-link_current {
  background-color: transparent;
}

.content__card-link {
  display: block;
}

.content__card-link:active {
 background-color: #545050;
 text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding: 3px;
}